<div class="container">
  <h2 class="mt-4"><%= @restaurant.name %></h2>
  <br>
  <p><span class="bold-text orange-text">Address:</span> <%= @restaurant.address %></p>
  <p><span class="bold-text dark-pink-text">Phone number:</span> <%= @restaurant.phone_number %></p>
  <p><span class="bold-text pink-text">Cuisine:</span> <%= @restaurant.category.capitalize %></p>
  <br>
  <p><%= link_to 'Back to all restaurants', restaurants_path %></p>
</div>
